@media (max-width: 900px){
    #page-home{
        background-position-x: 70vw;
    }
    #page-home .content{
        align-items: center;
        text-align: center;
    }
    #carouselSite carousel-item{
        position: absolute;
        bottom: -50px;
        left: 50%;
        transform: translateX(-50%);
    }
    #page-home main{
        align-items: center;
    }
}
@media (min-width: 1770px){
    #page-home{
        background-position-x: 40vw;
    }
}
@media (max-height: 700px){
    #page-home{
        background-position-y: 200px;
    }   
}